<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
</head>
<body>
    <ul>
        <% for(let i of blogs) { %>
            <li>
                <div>
                    <p><%= i.title %></p>
                    <p><%= i.text %></p>
                    <p><%= i.author %></p>
                    <form action="blogs/<%=i._id%>" method="GET">
                        <input type="submit" value="View">
                    </form>
                    <form action="blogs/<%=i._id%>?_method=DELETE" method="POST">
                        <input type="submit" value="Delete" name="_method">
                    </form>
                </div>
            </li>
        <% } %> 
    </ul>
</body>
</html>